* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}
.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app__postRight {
  margin-left: 20px;
  
}

.app__header {
  position: sticky;
  top:0;
  z-index:1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain; /* ?? */
  display: flex;
  justify-content: space-between;
}
.app__stories {
  display: flex;
  justify-content: left;
  object-fit: contain;
  padding: 20px;
  margin-top:  20px;
  border: 1px solid lightgray;

}
     
.post__avatarstory {
  
  margin-left:10px ;
  border: 3px solid rgb(223, 144, 144) !important;


}
.app__headerImage {
  object-fit: contain;/* ?? */
}
.app__signup {
  display: flex;
  flex-direction: column;


}